@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1611132382509'); /* IE9 */
  src: url('../font/iconfont.eot?t=1611132382509#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1611132382509') format('woff'),
  url('../font/iconfont.ttf?t=1611132382509') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../font/iconfont.svg?t=1611132382509#iconfont') format('svg'); /* iOS 4.1- */
}

[class*="icon-"],
.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-L:before {
  content: "\e601";
}

.icon-ok:before {
  content: "\e726";
}

.icon-wifi:before {
  content: "\e627";
}

.icon-fast:before {
  content: "\e633";
}

.icon-birth:before {
  content: "\e643";
}

.icon-alert:before {
  content: "\e700";
}

.icon-vip:before {
  content: "\e644";
}

.icon-refresh:before {
  content: "\e645";
}

.icon-tips:before {
  content: "\e647";
}

.icon-filter:before {
  content: "\e648";
}

.icon-home:before {
  content: "\e793";
}

.icon-paper-plane:before {
  content: "\e618";
}

.icon-wallet:before {
  content: "\e619";
}

.icon-gift:before {
  content: "\e621";
}

.icon-user:before {
  content: "\e602";
}

.icon-copy:before {
  content: "\e609";
}

.icon-dots:before {
  content: "\e610";
}

.icon-auth:before {
  content: "\e611";
}

.icon-search:before {
  content: "\e613";
}

.icon-comment:before {
  content: "\e614";
}

.icon-top:before {
  content: "\e615";
}

.icon-good:before {
  content: "\e616";
}

.icon-edit:before {
  content: "\e617";
}

.icon-save:before {
  content: "\e640";
}

.icon-scan:before {
  content: "\e646";
}

.icon-blocked:before {
  content: "\e603";
}

.icon-bookmark:before {
  content: "\e604";
}

.icon-code:before {
  content: "\e605";
}

.icon-user-o:before {
  content: "\e608";
}

.icon-globe:before {
  content: "\e612";
}

.icon-zhihu:before {
  content: "\ea8b";
}

.icon-weibo:before {
  content: "\ea8c";
}

.icon-twitter:before {
  content: "\ea90";
}

.icon-amazon:before {
  content: "\ea92";
}

.icon-qq:before {
  content: "\ea94";
}

.icon-wechat:before {
  content: "\ea96";
}

.icon-alipay:before {
  content: "\ea97";
}

.icon-taobao:before {
  content: "\ea98";
}

.icon-dingtalk:before {
  content: "\ea9d";
}

.icon-android:before {
  content: "\eaa3";
}

.icon-apple:before {
  content: "\eaa4";
}

.icon-google:before {
  content: "\eaa8";
}

.icon-chrome:before {
  content: "\eaaa";
}

.icon-ie:before {
  content: "\eaab";
}

.icon-windows:before {
  content: "\eab0";
}

.icon-linkedin:before {
  content: "\eab1";
}

.icon-facebook:before {
  content: "\eab3";
}

.icon-HTML:before {
  content: "\eac6";
}

.icon-github:before {
  content: "\eac8";
}

.icon-copyright:before {
  content: "\eacb";
}

.icon-trade:before {
  content: "\eacc";
}

.icon-youtube:before {
  content: "\ead1";
}

.icon-tel:before {
  content: "\e60a";
}

.icon-tv:before {
  content: "\e60b";
}

.icon-plane:before {
  content: "\e60c";
}

.icon-news:before {
  content: "\e60d";
}

.icon-heart-beat:before {
  content: "\e60e";
}

.icon-study:before {
  content: "\e60f";
}

.icon-location:before {
  content: "\e61a";
}

.icon-back-o:before {
  content: "\e61b";
}

.icon-date:before {
  content: "\e61c";
}

.icon-money:before {
  content: "\e61d";
}

.icon-set:before {
  content: "\e61e";
}

.icon-heart:before {
  content: "\e61f";
}

.icon-share:before {
  content: "\e620";
}

.icon-mail:before {
  content: "\e622";
}

.icon-list:before {
  content: "\e623";
}

.icon-del:before {
  content: "\e624";
}

.icon-mic:before {
  content: "\e625";
}

.icon-close-o:before {
  content: "\e626";
}

.icon-output:before {
  content: "\e628";
}

.icon-rank:before {
  content: "\e629";
}

.icon-movie:before {
  content: "\e62a";
}

.icon-more:before {
  content: "\e62b";
}

.icon-book:before {
  content: "\e62c";
}

.icon-menu:before {
  content: "\e62d";
}

.icon-guide:before {
  content: "\e62e";
}

.icon-work:before {
  content: "\e62f";
}

.icon-image:before {
  content: "\e630";
}

.icon-msg:before {
  content: "\e631";
}

.icon-print:before {
  content: "\e632";
}

.icon-plus:before {
  content: "\e634";
}

.icon-right:before {
  content: "\e635";
}

.icon-star:before {
  content: "\e636";
}

.icon-download:before {
  content: "\e637";
}

.icon-up:before {
  content: "\e638";
}

.icon-back:before {
  content: "\e639";
}

.icon-doc:before {
  content: "\e63a";
}

.icon-time:before {
  content: "\e63b";
}

.icon-camera:before {
  content: "\e63c";
}

.icon-close:before {
  content: "\e63d";
}

.icon-link:before {
  content: "\e63e";
}

.icon-power:before {
  content: "\e63f";
}

.icon-gear:before {
  content: "\e641";
}

.icon-check:before {
  content: "\e642";
}

.icon-wxapp:before {
  content: "\e606";
}

.icon-aliapp:before {
  content: "\e607";
}

